<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:39 KST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cumsCmmUseDAO">

	<resultMap id="CmmCodeDetail" type="egovframework.com.cmm.service.CmmnDetailCode">
		<result property="codeId" column="CODE_ID"/>
		<result property="code" column="CODE"/>
		<result property="codeNm" column="CODE_NM"/>
		<result property="codeDc" column="CODE_DC"/>
	</resultMap>

	<select id="retrieveMenuMngList" parameterType="String" resultType="egovMap">
		 /* 왼쪽 메뉴관리 메뉴 가져오기 */
		SELECT MENU_NO 
		     , MENU_ORDR 
		     , MENU_NM 
		     , UPPER_MENU_NO 
		     , MENU_DC
		     , RELATE_IMAGE_PATH 
		     , RELATE_IMAGE_NM 
		     , A.PROGRM_FILE_NM
		     , B.URL
		  FROM COMTNMENUINFO A  /* 메뉴 정보 TBL */
		     , COMTNPROGRMLIST B /* 프로그램목록 TBL */
	     WHERE A.MENU_NO IN ('6680000' -- 프로그램관리 /sym/prm/CumsProgramListManageSelect.do
						    ,'6640000' -- 메뉴관리리스트 /sym/mnu/mpm/CumsMenuManageSelect.do
						    ,'6650000' -- 메뉴생성[사용]관리 /sym/mnu/mcm/CumsMenuCreatManageSelect.do
						    )
		   AND A.PROGRM_FILE_NM = B.PROGRM_FILE_NM 
	     ORDER BY A.UPPER_MENU_NO, A.MENU_ORDR
		
	</select>

	<select id="retrieveBbsMngList" parameterType="String" resultType="egovMap">
		 /* 왼쪽 게시판관리 메뉴 가져오기 */
		SELECT MENU_NO 
		     , MENU_ORDR 
		     , MENU_NM 
		     , UPPER_MENU_NO 
		     , MENU_DC
		     , RELATE_IMAGE_PATH 
		     , RELATE_IMAGE_NM 
		     , A.PROGRM_FILE_NM
		     , B.URL
		  FROM COMTNMENUINFO A  /* 메뉴 정보 TBL */
		     , COMTNPROGRMLIST B /* 프로그램목록 TBL */
	     WHERE A.MENU_NO IN ('4510000' -- 게시판속성관리 /cop/bbs/CumsSelectBBSMasterInfs.do
						    ,'4520000' -- 게시판사용정보 /cop/com/CumsSelectBBSUseInfs.do
						    )
		   AND A.PROGRM_FILE_NM = B.PROGRM_FILE_NM 
	     ORDER BY A.UPPER_MENU_NO, A.MENU_ORDR
		
	</select>
	
		<select id="retrieveAuthrtMngList" parameterType="String" resultType="egovMap">
		 /* 왼쪽 권한관리 메뉴 가져오기 */
		SELECT MENU_NO 
		     , MENU_ORDR 
		     , MENU_NM 
		     , UPPER_MENU_NO 
		     , MENU_DC
		     , RELATE_IMAGE_PATH 
		     , RELATE_IMAGE_NM 
		     , A.PROGRM_FILE_NM
		     , B.URL
		  FROM COMTNMENUINFO A  /* 메뉴 정보 TBL */
		     , COMTNPROGRMLIST B /* 프로그램목록 TBL */
	     WHERE A.MENU_NO IN ('2510000' -- 권한관리 /sec/ram/CumsAuthorList.do
						    ,'2520000' -- 권한그룹관리 /sec/rgm/CumsAuthorGroupList.do
						    )
		   AND A.PROGRM_FILE_NM = B.PROGRM_FILE_NM 
	     ORDER BY A.UPPER_MENU_NO, A.MENU_ORDR
		
	</select>
	
	<select id="selectCumsCmmCodeDetail" parameterType="ComDefaultCodeVO" resultMap="CmmCodeDetail">
		 
			SELECT 
			CODE_ID, CODE, CODE_NM, CODE_DC
			FROM 
			COMTCCMMNDETAILCODE
			WHERE
			USE_AT = 'Y'
			AND CODE_ID = #{codeId}
		
	</select>
    

</mapper>