<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:39 KST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cumsCmmUseDAO">

<!-- 	<resultMap id="CmmCodeDetail" type="egovframework.com.cmm.service.CmmnDetailCode"> -->
<!-- 		<result property="codeId" column="CODE_ID"/> -->
<!-- 		<result property="code" column="CODE"/> -->
<!-- 		<result property="codeNm" column="CODE_NM"/> -->
<!-- 		<result property="codeDc" column="CODE_DC"/> -->
<!-- 	</resultMap> -->

	<select id="retrieveMenuMngList" parameterType="String" resultType="egovMap">
		 /* 왼쪽 메뉴관리 메뉴 가져오기 */
		SELECT MENU_NO 
		     , MENU_ORDR 
		     , MENU_NM 
		     , UPPER_MENU_NO 
		     , MENU_DC
		     , RELATE_IMAGE_PATH 
		     , RELATE_IMAGE_NM 
		     , A.PROGRM_FILE_NM
		     , B.URL
		  FROM COMTNMENUINFO A  /* 메뉴 정보 TBL */
		     , COMTNPROGRMLIST B /* 프로그램목록 TBL */
	     WHERE A.MENU_NO IN ('6680000' -- 프로그램관리
						    ,'6140000' -- 메뉴관리
						    ,'6150000' -- 메뉴생성관리
						    ,'4010000' -- 게시판속성관리
						    ,'4020000' -- 게시판사용정보
						    ,'2020000' -- 권한그룹관리
						    )
		   AND A.PROGRM_FILE_NM = B.PROGRM_FILE_NM 
	     ORDER BY A.MENU_ORDR
		
	</select>

    

</mapper>